.btn {
  padding: 10px 20px 10px 20px;
  font-family: $lato;
  font-size: 15px;
  color: $red;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid $red;

  &:hover {
    background-color: $red;
    color: $white;
    border-color: transparent;
  }
}
