---
layout: default
---

<div class="container">
  <div class="wrapper mt-24">
    <h4 class="text-center mb-2">Fædrelandenes Europa i stedet for Europæisk Union</h4>
    <hr class="stroke" />
    <p class="mt-2 text-center">Initiativ til bevarelse af dansk selvstændighed</p>
    <p class="mt-2 text-center">Støt kampen for at frigøre Danmark fra EU-unionon</p>
    <p class="mt-2 text-center">Bliv medlem af Nødvendigt Forum</p>
  </div>

  <div class="wrapper mt-24">
    <h4 class="text-center mb-2">Seneste udgivelser</h4>
    <hr class="stroke" />
    <div class="mt-2">
      {% assign publications = site.publications | sort: 'date' | reverse %}
      {% for pub in publications limit: 3 %}
        <a href="{{ site.baseurl }}{{ pub.url }}">
          <p class="mt-0 text-center">
            {{ pub.published_date }}
          </p>
        </a>
      {% endfor %}
    </div>
  </div>
</div>